$componentName: checkbox;

.#{$componentName} {
  display: inline-flex;
  position: relative;
  height: 20px;
  align-items: center;
  color: #afafaf;
  margin-bottom: 20px;
}

.#{$componentName}--active {
  .#{$componentName}__label {
    color: dodgerblue;
  }
}

.#{$componentName}--checked {
  .#{$componentName}__square {
    border: none;
    &:after {
      display: block;
      z-index: 1;
    }
    &:before {
      background-color: dodgerblue;
      transform: scale(1);
      transition: transform 0.1666s ease;
    }
  }
}

.#{$componentName}--disabled {
  opacity: 0.5;
  cursor: not-allowed;
  .#{$componentName}__label {
    cursor: not-allowed;
  }
}

.#{$componentName}__input {
  position: absolute;
  width: 0;
  height: 0;
}

.#{$componentName}__label {
  padding-left: 30px;
  &:focus {
    outline: none;
  }
}

.#{$componentName}__square {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #afafaf;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all 0.1666s ease;
  }
  &:after {
    content: "";
    left: 12px;
    top: 12px;
    width: 4px;
    height: 11px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(6px, -4px);
    display: none;
  }
}

.#{$componentName}__error-message {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: max-content;
  max-width: 200px;
  color: red;
}
