$componentName: select;

.#{$componentName} {
  display: inline-flex;
  position: relative;
  margin-top: 20px;
  &:focus {
    outline: none;
  }
}

.#{$componentName}--has-error {
  .#{$componentName}__box {
    border-color: red;
  }
  .#{$componentName}__label {
    color: red;
  }
  .#{$componentName}__error-message {
    color: red;
  }
}

.#{$componentName}--active {
  .#{$componentName}__box {
    border-color: dodgerblue;
    &:after {
      color: dodgerblue;
    }
  }
  .#{$componentName}__label {
    bottom: 100%;
    color: dodgerblue;
  }
}

.#{$componentName}--has-content {
  .#{$componentName}__label {
    bottom: 100%;
  }
}

.#{$componentName}--disabled {
  opacity: 0.5;
  cursor: not-allowed;
  .#{$componentName}__box {
    cursor: not-allowed;
  }
  .#{$componentName}__label {
    cursor: default;
  }
}

.#{$componentName}__label {
  position: absolute;
  bottom: 5px;
  left: 0;
  color: #afafaf;
  transition: bottom 0.166s ease;
  cursor: pointer;
}

.#{$componentName}__box {
  position: relative;
  border: none;
  border-bottom: 2px solid #afafaf;
  height: 25px;
  width: 200px;
  overflow: hidden;
  cursor: pointer;
  p {
    position: absolute;
    top: 2px;
    left: 10px;
    margin: 0;
    width: max-content;
  }
  &:after {
    content: ">";
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    font-size: 90%;
    width: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #afafaf;
  }
}

.#{$componentName}__options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 2px solid rgb(248, 248, 248);
  z-index: 2;
  background-color: #fff;
}

.#{$componentName}__option {
  width: 100%;
  background-color: transparent;
  border: none;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: #afafaf;
  &--active {
    color: dodgerblue;
  }
  &:hover {
    background-color: rgb(240, 240, 240);
  }
  &:focus {
    outline: none;
    background-color: rgb(240, 240, 240);
  }
}

.#{$componentName}__error-message {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
}
