$componentName: tabs;

.#{$componentName}__button-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.#{$componentName}__button {
  width: 100%;
  padding: 1vw 2vw;
  border: none;
  background-color: transparent;
  color: #afafaf;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &--active {
    color: dodgerblue;
  }
}

.#{$componentName}__line {
  position: absolute;
  top: calc(100% + 2px);
  height: 2px;
  background-color: dodgerblue;
  transition: all 0.333s ease-out;
}

.#{$componentName}__slide-wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 2px;
}

.#{$componentName}__slide-container {
  display: flex;
  transition: transform 0.333s ease-out;
}

.#{$componentName}__slide {
  width: 100%;
}
