$componentName: calendar;

.#{$componentName} {
  position: relative;
}

.#{$componentName}__datepicker {
  display: none;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  border: 2px solid rgb(248, 248, 248);
  padding-top: 20px;
  max-width: 320px;
  z-index: 9;
  &--showing {
    display: block;
  }
  &--top {
    bottom: calc(100% - 20px);
  }
  &--bottom {
    top: calc(100% - 20px);
  }
}

.#{$componentName}__month-picker {
  margin-bottom: 20px;
  color: dodgerblue;
  p {
    width: 120px;
    text-align: center;
  }
}

.#{$componentName}__arrow {
  color: dodgerblue;
  margin: 3px 10px;
}

.#{$componentName}__day-name {
  width: 14.28%;
  margin-bottom: 10px;
}

.#{$componentName}__day {
  width: 14.28%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.#{$componentName}__day--today .#{$componentName}__day-inner {
  border: 2px solid dodgerblue;
}

.#{$componentName}__day--blurred {
  color: #afafaf;
}

.#{$componentName}__day-inner {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.1666s ease;
  &:hover {
    transition: background-color 0.1666s ease;
    background-color: rgb(238, 238, 238);
  }
}

.#{$componentName}__day--active {
  .#{$componentName}__day-inner {
    color: #ffffff;
    background-color: dodgerblue;
  }
}

.#{$componentName}__input-wrapper--active {
  .#{$componentName}__label {
    bottom: 100%;
    color: dodgerblue;
  }
  .#{$componentName}__input input {
    border-bottom-color: dodgerblue;
  }
}

.#{$componentName}__input-wrapper--has-content {
  .#{$componentName}__label {
    bottom: 100%;
  }
}

.#{$componentName}__input-wrapper {
  position: relative;
  display: inline-flex;
  color: #afafaf;
  height: 25px;
  margin: 20px 0;
  width: 100%;
}

.#{$componentName}__label {
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: bottom 0.166s ease;
  cursor: text;
}

.#{$componentName}__input-image {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 3px;
  right: 0;
  filter: contrast(0.1);
  cursor: pointer;
}

.#{$componentName}__input {
  width: 100%;
  display: inline-flex;
  input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #afafaf;
    background-color: transparent;
    font-size: 100%;
    &:focus {
      outline: none;
    }
  }
}
