.menu {
  background-color: dodgerblue;
  width: 100%;
  height: 100%;
  color: #fff;
  min-height: 100vh;
  padding: 20px 0;
  position: fixed;
  width: calc(23% - 15px);
  box-shadow: inset -10px 0px 13px 0px rgba(0, 0, 0, 0.15);
}
.menu__item {
  display: block;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 35px;
}

.menu__item--active {
  background-color: #fff;
  color: dodgerblue;
  &:hover {
    color: dodgerblue;
  }
}

.github-link {
  position: absolute;
  bottom: 10px;
  left: 20px;
  a {
    display: flex;
    align-items: center;
  }
  img {
    max-width: 20px;
    display: block;
    filter: invert(1);
  }
  span {
    margin-top: 3px;
    margin-left: 5px;
  }
}

.home-logo {
  max-width: 120px;
}

h1 {
  margin: 0px 10px 15px 30px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  span {
    color: aqua;
    font-size: 13px;
    margin-top: 5px;
    font-weight: normal;
  }
}
