.menu {
  background-color: dodgerblue;
  width: 100%;
  color: #fff;
  min-height: 100vh;
  padding: 20px 0;
}
.menu__item {
  display: block;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 35px;
}

.menu__item--active {
  background-color: #fff;
  color: dodgerblue;
  &:hover {
    color: dodgerblue;
  }
}
