.sticky-header {
    position: sticky;
    padding: 20px 0;
    top: 0;
    background-color: #fff;
    z-index: 10;
    color: dodgerblue;
    ul {
        display: flex;
        li {
            margin-right: 20px;
        }
    }
}