$componentName: radio;

.radio-group {
  display: inline-block;
  width: 100%;
  &:focus {
    outline: none;
  }
  .#{$componentName}:last-of-type {
    margin-right: 0;
  }
}

.#{$componentName} {
  display: inline-flex;
  position: relative;
  height: 20px;
  align-items: center;
  color: #afafaf;
  margin-right: 20px;
  margin-top: 20px;
}

.#{$componentName}--selected {
  .#{$componentName}__circle {
    border-color: dodgerblue;
    &:after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.#{$componentName}--active {
  color: dodgerblue;
}

.#{$componentName}__input {
  position: absolute;
  width: 0;
  height: 0;
}

.#{$componentName}__label {
  padding-left: 30px;
  cursor: pointer;
}

.#{$componentName}__circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid #afafaf;
  &:after {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    background-color: dodgerblue;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.1666s ease;
  }
}
