* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

button,
a {
  cursor: pointer;
}

.default-paragraph {
  color: #afafaf;
  margin-bottom: 10px;
  line-height: 1.3;
}

.default-link {
  color: dodgerblue;
  text-decoration: underline;
  &:hover {
    color: dodgerblue;
  }
}
