$directions: (center, left, right);

$media-sizes: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@each $direction in $directions {
  .text-#{$direction} {
    text-align: $direction !important;
  }
}

@each $prefix, $size in $media-sizes {
  @media (min-width: $size) {
    @each $direction in $directions {
      .text-#{$prefix}-#{$direction} {
        text-align: $direction !important;
      }
    }
  }
}

@for $i from 10 through 40 {
  .fz-#{$i} {
    font-size: #{$i}px !important;
  }
}

@each $prefix, $size in $media-sizes {
  @media (min-width: $size) {
    @for $i from 10 through 40 {
      .fz-#{$prefix}-#{$i} {
        font-size: #{$i}px !important;
      }
    }
  }
}

$colors: (
  white: #ffffff,
  black: #000000,
);

@each $color, $code in $colors {
  .text-#{$color} {
    color: $code !important;
  }
}

.font-weight-bold {
  font-weight: bold;
}
