$directions: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);

$media-sizes: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

/*    MARGIN IN SPECIFIC DIRECTION WITH NO MEDIA QUERY    */
@each $d, $direction in $directions {
  @for $i from 0 through 20 {
    $j: $i * 5;
    .m#{$d}-#{$i * 5} {
      margin-#{$direction}: #{$j}px !important;
    }
  }
}

/*    MARGIN IN ALL DIRECTIONS WITH NO MEDIA QUERY    */

@for $i from 0 through 20 {
  $j: $i * 5;
  .m-#{$i * 5} {
    margin: #{$j}px !important;
  }
}

/*    PADDING IN SPECIFIC DIRECTION WITH NO MEDIA QUERY    */

@each $d, $direction in $directions {
  @for $i from 0 through 20 {
    $j: $i * 5;
    .p#{$d}-#{$i * 5} {
      padding-#{$direction}: #{$j}px !important;
    }
  }
}

/*    PADDING IN ALL DIRECTIONS WITH NO MEDIA QUERY    */

@for $i from 0 through 20 {
  $j: $i * 5;
  .p-#{$i * 5} {
    padding: #{$j}px !important;
  }
}

/*    MARGIN IN SPECIFIC DIRECTION WITH MEDIA QUERY    */

@each $prefix, $size in $media-sizes {
  @each $d, $direction in $directions {
    @for $i from 0 through 20 {
      $j: $i * 5;
      @media (min-width: $size) {
        .m#{$d}-#{$prefix}-#{$i * 5} {
          margin-#{$direction}: #{$j}px !important;
        }
      }
    }
  }
}

/*    MARGIN IN ALL DIRECTIONS WITH MEDIA QUERY    */

@each $prefix, $size in $media-sizes {
  @for $i from 0 through 20 {
    $j: $i * 5;
    @media (min-width: $size) {
      .m-#{$prefix}-#{$i * 5} {
        margin: #{$j}px !important;
      }
    }
  }
}

/*    PADDING IN SPECIFIC DIRECTION WITH MEDIA QUERY    */

@each $prefix, $size in $media-sizes {
  @each $d, $direction in $directions {
    @for $i from 0 through 20 {
      $j: $i * 5;
      @media (min-width: $size) {
        .p#{$d}-#{$prefix}-#{$i * 5} {
          padding-#{$direction}: #{$j}px !important;
        }
      }
    }
  }
}

/*    PADDING IN ALL DIRECTIONS WITH MEDIA QUERY    */

@each $prefix, $size in $media-sizes {
  @for $i from 0 through 20 {
    $j: $i * 5;
    @media (min-width: $size) {
      .p-#{$prefix}-#{$i * 5} {
        padding: #{$j}px !important;
      }
    }
  }
}
